body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

.card {
    margin: 15px 0;
}

/* Tema claro */
body.light {
    background-color: #f8f9fa;
    color: #212529;
}

/* Tema escuro */
body.dark {
    background-color: #343a40;
    color: #f8f9fa;
}

/* Modificar o estilo do botão para diferentes temas */
.btn-secondary.light {
    background-color: #6c757d;
    color: white;
}

.btn-secondary.dark {
    background-color: #495057;
    color: white;
}
